@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
    width: 36px;
    height: 36px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-width: ;
    border-radius: 9999px;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 12px;
    font-weight: 600;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: rgba(0, 0, 0, 0.75);
}

.swiper-button-next,
.swiper-button-prev {
    backdrop-filter: blur(4px);
}
